.footer {
    // border-top: solid 1px white;
    padding: 40px 0;
    margin: 0 15px;
}


.follow {
    text-align: right;
    img {
        transition: all 1s;
        width: 32px;
        margin-left: 12px;
    }
}

.follow img:hover {
    transform: scale(1.15,1.15);
    animation: heartBeat;
    animation-duration: 1s;
}