.howtoplay {
    &-container {
        background-image: url(../images/about/kv.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    &-main { 
        position: relative;
        // border: solid 2px rgba($color: $color-second, $alpha: 0.5);
        border-radius: 20px;
        background-image: url(../images/howtoplay/gameplay-bg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding: 80px;
        margin-top: 80px;
        @include media-breakpoint-down(lg) {
            padding: 60px;
        }
        @include media-breakpoint-down(md) {
            padding: 40px;
        }
        @include media-breakpoint-down(sm) {
            padding: 40px 20px 20px 20px;
            margin-top: 30px;
        }
        h1 {
            position: absolute;
            top: -44px;
            left: 40px;
            @include media-breakpoint-down(sm) {
                top: -36px;
                left: 10px;
            }
        }
    }
    &-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .feature-item-text {
        padding: 0px 30px 30px 30px;
    }
}



.playbtn {
    // position: absolute;
    // margin: 0 auto;
    top: 0;
    left: 0;
    width: 60px;
    padding: 90px 0;
    opacity: 0.6;
    transition: 0.5s;
    @include media-breakpoint-down(sm) {
        padding: 60px 0;
    }
}
.playbtn:hover {
    opacity: 1;
    transform: scale(1.15,1.15);
}



.tutorial {
    // width: 100%;
    // overflow: scroll;
    // overflow-y: hidden; /* Hide vertical scrollbar */
    // margin-bottom: 120px;
    // @include media-breakpoint-down(md) {
    //     margin-bottom: 80px;
    // }
    // @include media-breakpoint-down(sm) {
    //     margin-bottom: 60px;
    // }
    // &-mcontainer {
    //     display: inline-flex;
    // }
    &-item {
        // z-index: 2;
        // padding-left: 15px;
        // padding-right: 15px;
        // @include media-breakpoint-down(lg) {
        //     width: 300px;
        //     padding-left: 0px;
        //     padding-right: 30px;
        // }
        // &-text {
        //     border-radius: 20px;
        //     background-color: $color-darkPurple;
        //     height: 100%;
        //     padding: 240px 30px 30px 30px;
        //     min-height: 380px;
        //     @include media-breakpoint-down(sm) {
        //         padding: 190px 30px 30px 30px;
        //         min-height: 300px;
        //     }
        //     h2 {
        //         color: white;
        //     }
        //     p {
        //         margin-bottom: 0;
        //     }
        // }
        &-bg1 {
            background-image: url(../images/howtoplay/tutorial-bg1.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 100%;
        }
        &-bg2 {
            background-image: url(../images/howtoplay/tutorial-bg2.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 100%;
        }
        &-bg3 {
            background-image: url(../images/howtoplay/tutorial-bg3.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 100%;
        }
    }
    // @include media-breakpoint-down(lg) {
    //     padding-left: 30px;
    // }
}